<!DOCTYPE html>
<meta name="description" content="Angelo Mozzillo - Unimore, PhD Student in ICT, Leonardo S.p.A">
<meta name="keywords" content="Angelo Mozzillo, unimore, PhD">
<meta name="author" content="Angelo Mozzillo">
<meta property="og:title" content="Angelo Mozzillo">
<meta property="og:description" content="Angelo Mozzillo - Unimore, PhD Student in ICT, Leonardo S.p.A">
<meta property="og:url" content="https://mzzll.com/">
<meta property="og:type" content="website">
<html>
{{- partial "header.html" . -}}

<body>
    <div class="content">
        {{- partial "head.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
    </div>
</body>

</html>