<!DOCTYPE html>
<meta name="description" content="Angelo Mozzillo - Personal Website with projects, publications, and contact info.">
<meta name="keywords" content="Angelo Mozzillo, personal website, portfolio">
<meta name="author" content="Angelo Mozzillo">
<meta property="og:title" content="Angelo Mozzillo">
<meta property="og:description" content="Angelo Mozzillo’s official website.">
<meta property="og:url" content="https://mzzll.com/">
<meta property="og:type" content="website">
<html>
    {{- partial "header.html" . -}}
    <body>
        <div class="content">
        {{- partial "head.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
        </div>
    </body>
</html>
